#login_wrapper {
	width: 100%;
	height: 100%;
  background: rgba(0,0,0,0.7);
  &:after {
    content: "";
    	background-image: asset_url('login.jpg');
      background-size: cover;
      opacity: 0.4;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: -1;
  };
  .content { 
    padding-top: 10em;
    width: 300px;
  }
}