<div class="form-group clearfix">
  <div class="form-field top md preamble-field">
    <%= f.label 'Introduction', :preamble %>
    <%= f.text_area :preamble %>
  </div>
  <div class="form-field md body-field">
    <%= f.label :body %>
    <%= f.text_area :body %>
  </div>
</div>
