<% week.movies.each do |movie| %>
  <div class="movie <%= cycle 'one', 'two' %>" %>
    <%= movie.title %>
    <% movie.showings.each do |showing| %>
      <%= showing.day %>: <%=showing.times%>
    <% end %>
  </div>
<% end %>
