/* title */

.title {
  background: #1E3E57 image-url('header-bg.png');
  text-align: center;
  padding: 3em;
  
  img {
    width: 100%;
    height: auto;
    max-width: 642px;
  }
}



/* info */

.info {
  background: $dark-blue;
  text-align: center;
  color: #9BC9AB;
  font-weight: bold;
  border-bottom: 8px solid $dark-blue - 20;
  .content { display: table; }
  padding-bottom: 1em;
}

.info_panel {
  display:  table-cell;
  text-align: center;
  width: 125px;
  img {
    display: block;
    margin: 1em auto;
  }
}

.facebook {
  background: $beige - 15;
  padding: 1em 0;
  p {
    font-size: 0.9em;
    text-align: center;
    color: $beige - 100;
    margin: 0;
  }
}

@media (max-width: 400px) {
  .info_panel {
    width: 30%;
    img {
      max-width: 100%;
    }
  }
}

/* NAVIGATION */

.nav {
  border-top: 7px solid $yellow;
  font-family: $condensed;
  font-size: 1.5em;
  text-transform: uppercase;
}

.nav-list {
  text-align: center;
  list-style: none;
  padding: 0;
  margin: 0;
  
  li {
    display: inline-block;
    padding: 0.5em 1em;
  }
  
  a {
    color: $dark-blue;
    font-weight: normal;
    &:hover li,
    &.current li {
      color: $dark-blue;
      background: $yellow;
    };
  }
}

.nav.small {
  background: $dark-blue;
  margin-bottom: 2em;
  
  a { color: #eee;}
  
  .logo { 
    margin: 9px 0;
    float: left;
    height: 100%;
    display: inline-block;
    img { vertical-align: middle; }
  }
}

.nav-toggle { 
  width: 100%;
  height: 2.4em;
  text-align: right;
  display: none;
  vertical-align: middle;
}

.admin-nav {
  font-family: $sans;
  font-size: 0.7em;
  float: right;
  li { margin-left: 0.2em;}
}

@media (max-width: 680px) {
  .nav-toggle { 
    display: block;
  }

  .nav {
    height: 2.4em;
    border-top: none;
  }

  .nav-list {
    display: none;
  }

  .nav-list li {
    clear: both;
    display: block;
    margin: 0;
  }

  .nav.small .logo {
    margin: 10px 0;
  }
}
