html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0 0 150px; /* bottom = footer height */
}

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 150px;
  width: 100%;
  background: $mid-grey;
  color: $dark-grey - 10;
  font-size: 0.8em;
  font-weight: bold;
  display: table;
}

.footer-inner {
  width: 100%;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
