// Standard inputs

form {
  font-size: .9em;
}

input, textarea {
  padding: .5em;
  border: 1px solid $mid-grey;
  border-radius: .3em;
}

input:focus, textarea:focus {
  outline: 0;
  border-color: $blue;
  background: #fdfdfd;
}

textarea {
  resize: none;
}

// Big forms

.form-group { margin-bottom: 1em; }


.form-field {
  position: relative;
  height: 4.5em;
  background: #fff;
  border: 1px solid $mid-grey;
  border-top: 0;
  box-sizing: border-box;

  &.top { border-top: 1px solid $mid-grey; }
  &.right { border-left: 0; }
  &.overview { height: 15em; }
  &.extra { height: 9em; }

  label {
    position: absolute;
    padding: 1em 0 0 2.4em;
    display: inline-block;
    font-size: .7em;
    color: $mid-grey;
    text-transform: uppercase;
    font-weight: bold;
    cursor-events: none;
  }

  input, textarea {
    height: 100%;
    width: 100%;
    border: 0;
    box-sizing: border-box;
    padding: 2em 2em 0;
    transition: .3s all;
  }


}

.poster-field { 
  height: 15em; 
  text-align: center;

  img {
    margin-top: 0.4em;
    width: 75%; 
    height: auto;
  }

  a {
    display: block;
    text-align: center;
    font-size: 0.8em;
    color: $mid-grey;
    font-weight: bold;
    text-transform: uppercase;

    &:hover { color: $blue; }

  }
}

.md:after {
  width: 95.7%;
  font-size: .7em;
  color: $mid-grey;
  text-transform: uppercase;
  font-weight: bold;
  content: '\f006     Markdown Allowed';
  font-family: FontAwesome, 'Open Sans';
  position: absolute;
  bottom: 0;
  padding: 1em 0 1em 2.4em;
  background: #fff;

}

.hidden, 
.collapsed { display: none; }

.day-label {
  margin: 2em 1.7em;
}

.tooltip {
  color: $mid-grey;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  font-size: .7em;
  position: absolute;
  top: 2.5em;
  right: 1em;
  z-index: 99999;
  &:hover { color: $red; }
}

.add-button {
  border-radius: 0 0 5px 5px;
  height: 3em;
  line-height: 3em;
  text-transform: uppercase;
  font-weight: bold;
  background: $blue;
  color: #fff;
  border: 0;
  padding-left: 2em;

  &:hover { background: $blue + 20; }
  i { margin-right: 0.5em; }
}

.day-list {
  height: 3em;
  border-radius: 0 0 5px 5px;
  padding-left: 2em;
  line-height: 3em;

  .day.day-link {
    font-size: 0.8em;
    text-decoration: none;
    font-weight: bold;
    background: $mid-grey;
    color: #fff;
    padding: 0.3em 1.5em;
    margin-right: 0.7em;
    border-radius: 12px;
    &:hover {
      background: $mid-grey - 50; }
  }
  
  .cancel {
    font-weight: bold;
    text-decoration: none;
  }

}


// Loading

.loading {
  height: 2px;
  background: $green;
  width: 0;
}

// Inline Forms

form.inline input {
  width: 15em;
  margin-right: 2em;
}

.btn.btn-inline { 
  display: inline; 
  margin-left: 2em;
}

// Buttons

.btn {
  text-transform: uppercase;
  font-size: 0.9em;
  font-weight: bold;
  text-decoration: none;
  padding: 1em 2em;

  i { margin-right: 0.5em; }
}

.btn-primary {
  background: $blue;
  color: #fff;
}

.btn-secondary {
  background: $mid-grey;
  color: $mid-grey - 80;

  &:hover {
    background: $blue;
    color: #fff;
  }
}

.btn-submit {
  border: 0;
  background: $green;
  color: #fff;

  &:hover { background: $green - 30; }
}

