header {
  border-top: 8px solid $yellow;
  background: $blue;
  @include radial-gradient($blue 40%, adjust_hue($blue, -15));
  color: $light-blue;
  margin-bottom: 3em;
}

header.small { background: $blue;}

.nav { margin-bottom: 3.5em; }

.nav {
  list-style: none;
  margin: 1em 0 3em;
  padding: 0;
  display: flex;
  justify-content: space-between;
	li {
    display: inline-block;
    line-height: 42px; /* for logo */
	}
	
	a {
		color: $light-blue;
		font-weight: bold;
		text-decoration: none;
    &:hover { color: #fff; };
	}
}

header.small .nav-list { font-size: 0.9em; }


.subtitle {
  font-family: $slab-serif;
  font-weight: 100;
  color: $yellow;
  font-size: 1.5em;
  text-align: center;
  margin-bottom: 3.5em;
}

.details {
  list-style: none;
  margin-bottom: 1em;
  font-size: 0.8em;
  text-align: center;
  li {
    display: inline-block;
    vertical-align: top;
    width: 32%;
    text-align: center;
  }
  .small {
    font-size: 0.9em;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.4em;
    color: #fff;
  }
  .big {
    font-size: 1.5em;
    color: $light-blue + 50;
  }
}

.hamburger {
  font-size: 2em;
  color: #fff;
  display: none;
  width: 100%;
  text-align: right;
  margin: 0 0 1.5em;
  padding: 0;
  line-height: 0;
}


@media(max-width: 700px) {
  li.logo { display: none; }
}

@media(max-width: 500px) {
  .hamburger { display: block; }
  .nav { 
    display: none;
    margin: 0;
    li.logo {display: none; }
    li {
      display: block;
      width: 100%;
      text-align: center;
      background: $yellow;
      border-bottom: 1px solid $yellow - 20;
      a { color: #555;}

    }
  }


}
