.week {
  text-align: center;
  margin-bottom: 5em;
}

.movie {
  display: inline-block;
  position: relative;
  width: 50%;

  p {
    margin: 0;
  }
}

.poster { 
  margin: 0 auto 0.8em auto;
  display: block;
  position: relative;
  max-width: 200px;

  img {
    width: 100%;
    border: 3px solid #fff; 
    box-sizing: border-box;
  }
}

.poster .more {
  transition: all 0.3s;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0,0,0,0.2);
  padding-top: 50%;

  font-size: 3em;
  color: #fff;
}

.movie-link {
  color: $text-grey;
  text-decoration: none;

  &:hover {
    color: $text-grey + 40;
    .more { 
      visibility: visible; 
      opacity: 1;
    }
  }
}

.movie:nth-child(even):not(:only-of-type) { float: left; }
.movie:nth-child(odd):not(:only-of-type) { float: right; }

/* Holidays */

.holiday-week {
  font-size: 0.9em;
}

table.holidays {
  table-layout: fixed;
  width:100%;
	margin: 0 auto;
	font-size: 0.8em;
	clear: both;

  tr td:first-child {
    width: 5em;
    font-weight: bold;
  }
		
	.times {
  	font-weight: bold;
    background: $mid-grey;
  	color: $dark-grey - 50;
	}
	
	td {
  	padding: 1em 0.5em;
  	border: 1px solid $dark-grey;
  	text-align: center
	}
	
}

.cast {
  list-style: none;
}

@media(max-width: 500px) {
  table.holidays { font-size: 0.7em; }
}

