.week {
  text-align: center;
  margin-bottom: 5em;
}

.movie {
  display: inline-block;
  position: relative;
  width: 50%;
  p {
    margin: 0;
  }
}

.poster { 
  margin-bottom: 0.8em;
  display: block;
  img {
    max-width: 200px;
    width: 100%;
    border: 3px solid #fff; 
  }
  &:hover {
    opacity: 0.3;
  }
}

.movie-link:hover .poster {
  transition: all 0.3s;
  opacity: 0.3;
  &:after {
    content: 'More info';
    display: block;
    color: $blue;
    z-index: 5000;
    position:absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 0.9em;
  }

}

.movie-link{
  color: #333;
  text-decoration: none;
  &:hover h3 { color: $blue;}
}

.movie:nth-child(even):not(:only-of-type) { float: left; }
.movie:nth-child(odd):not(:only-of-type) { float: right; }

/* Holidays */

.holiday-week {
  font-size: 0.9em;
}

table.holidays {
  table-layout: fixed;
  width:100%;
	margin: 0 auto;
	font-size: 0.8em;
	clear: both;

  tr td:first-child {
    width: 5em;
    font-weight: bold;
  }
		
	.times {
  	font-weight: bold;
    background: $mid-grey;
  	color: $dark-grey - 50;
	}
	
	td {
  	padding: 1em 0.5em;
  	border: 1px solid $dark-grey;
  	text-align: center
	}
	
}

.cast {
  list-style: none;
}

@media(max-width: 500px) {
  table.holidays { font-size: 0.7em; }
}

