%h2 Contact the Cinema

%h3 Phone

%p <b>(02) 4958 5810</b>

%p 
  :markdown
    Most enquiries can only be answered by phone. Phone calls are answered after 5.30pm Fridays or 1pm Saturdays, Sundays and during school holidays.

%h3 Organisations and Schools

%p 
  :markdown
    For special functions or school bookings email Bob at <bob@lakecinema.net.au>. Regular bookings **can not** be made by email.

%h3 Technical Issues

%p 
  :markdown
    Email the webmaster at <admin@lakecinema.net.au>. Bookings or programme enquiries **can not** be answered from this email.
