.margin.content
  %h2 About the Cinema
  
  %blockquote Lake Cinema opened on Thursday 29th March 1974 with Show Boat and Singin' in the Rain; a grand double feature from MGM and two of my personal favourite films. The official opening was on Friday 30th March 1974 by Ald Geoff Pasterfield who was Mayor of the City of Lake Macquarie and we screened the Poseidon Adventure. Lake Cinema has undergone many refurbishments over the years and we are continually striving to enhance your movie going experience. The Cinema is available for fundraising activities and if we can help your group please contact us. I am very grateful for the assistance and effort from the dedicated team at the Cinema and the ongoing support of Lake Macquarie City Council. We look forward to welcoming you to Lake Cinema.
  
  %p &ndash;Bob Mason, Owner.
  
  %h3 Location
  
  %p 
    %a(href= "http://maps.google.com.au/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=lake+cinema+boolaroo&amp;aq=&amp;sll=-24.367114,135.703125&amp;sspn=82.093851,109.599609&amp;vpsrc=1&amp;ie=UTF8&amp;hq=lake+cinema&amp;hnear=Boolaroo+New+South+Wales&amp;t=m&amp;ll=-32.954285,151.62302&amp;spn=0.006295,0.006295") Get directions
    from Google Maps.
