.margin.content
  %h2 About the Cinema

  %p #{phrase('about')}
  
  %h3 Location
  
  %p 
    %a(href= "http://maps.google.com.au/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=lake+cinema+boolaroo&amp;aq=&amp;sll=-24.367114,135.703125&amp;sspn=82.093851,109.599609&amp;vpsrc=1&amp;ie=UTF8&amp;hq=lake+cinema&amp;hnear=Boolaroo+New+South+Wales&amp;t=m&amp;ll=-32.954285,151.62302&amp;spn=0.006295,0.006295") Get directions
    from Google Maps.
