<img class="center" src="https://fbexternal-a.akamaihd.net/safe_image.php?d=AQB5b-lRebZfErl-&w=484&h=253&url=https%3A%2F%2Ffbcdn-sphotos-h-a.akamaihd.net%2Fhphotos-ak-xpf1%2Fv%2Ft1.0-9%2Fs720x720%2F10592966_839124616132764_6621090830984912939_n.jpg%3Foh%3D17ffc6e64b0df7baabf38daca8de9e34%26oe%3D547804B6%26__gda__%3D1416327435_6eb4d7c8543b54ff909f0c568cf8713d&cfs=1">
<div class="content">
  <h3>Announcement: Planes 2 Competition</h3>
  <h4>Win a family trip for four to Disneyland Resort in California</h4>


  <p>When you purchase a ticket to <b>Planes: Fire and Rescue (G)</b> you can win an opportunity to enter this National Draw to win this fabulous prize valued at $16,000.00.</p>

  <p>One person per cinema will win  this opportunity for the National Draw</p>
  <ol>
    <li>Return economy flights  for 2 adults and 2 children to Los Angeles</li>
    <li>Coach transfers to and from the hotel</li>
    <li>5 nights accommodation at the newly renovated Paradise Pier for 2 adults and 2 children in one standard room. The hotel is located directly opposite Disneyland and  Disney's Grand California Adventure Park</li>
    <li>Pass Disneyland Park Hopper for 4 days</li>
    <li>Spending money $1,000.00</li>
    <li>Insurance 5 day policy for a family of 4</li>

  <p>See all the details at the <a href="http://mycinema.com.au/current-promotions/">My Cinema website</a></p>
</div>
