%h2 Subscribe to Our Newsletter

%p #{phrase('subscribe')}

= form_tag 'http://lakecinema.us2.list-manage.com/subscribe/post?u=606cdcbda38c75409630739de&amp;id=36d417399b', class: 'inline' do
  = text_field_tag :EMAIL, nil, type: :email, placeholder: 'Email address'
  = button_tag :subscribe, class: 'btn btn-primary'
