<div class="margin content">
  <div id="mc_embed_signup">
    <form action="http://lakecinema.us2.list-manage.com/subscribe/post?u=606cdcbda38c75409630739de&amp;id=36d417399b" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
    
      <h3>Subscribe to our mailing list</h3>
      <p>By subscribing to our newsletter, you will receive an email every week letting you know what is coming up at Lake Cinema for the weekend, as well as news and information. We will not share your information with anyone, and you can unsubscribe at any time.</p>
      
      <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Email Address" required>
      <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
    </form>
  </div>
</div>
