body {
  font-family: $sans;
  font-size: 18px;
  color: #393939;
  background: #fefefe;
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

a {
  color: $light-blue;
  font-weight: bold;
  text-decoration: none;
  
  &:hover {
    color: $dark-blue;
  }
}

h1, h2, h3 {
  font-family: $condensed;
}

h2 {
  background: $beige;
  font-weight: normal;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 1.5em;
  padding: 0.5em 0;
  font-size: 1.77777em; /* 32px / 18px */
}

h3 {
  font-weight: normal;
  font-size: 1.8em;
  margin: 0;
  text-transform: uppercase;
}

h4 {
  text-transform: uppercase;
  margin-top: 1em;
  margin-bottom: 1em;
}

h5 {
  margin: 0 0 0.8em 0;
  padding-bottom: 0.8em;
  border-bottom: 1px solid #efefef;
}

hr {
  height: 1px;
  background: #eee;
  border: none;
}

blockquote {
  font-style: italic;
  color: #555;
  line-height: 1.8;
  border-left: 4px solid #efefef;
  margin-left: 0;
  padding-left: 2em;
}

/* Weeks page */

.film {
  p {
    font-size: 0.9em;
    margin-top: 0;
    margin-bottom: 0.5em;
  }
  margin-bottom: 2em;
  width: 50%;
}

.extra {
  font-style: italic;
  color: #999;
}

.film h4 {margin-bottom: 0; }

.toggle-overview { margin-bottom: 1em }

.movie-overview {
  display: none;
  color: #aaa;
  margin-bottom: 1em;
}

/* Three movies in one week! */

.film:first-child:nth-last-child(3),
.film:first-child:nth-last-child(3) ~ .film {
  width: 33.3333%;
  float: left;
}

/* Holidays */

table.holidays {
  table-layout: fixed;
  width:100%;
	margin: 0 auto;
	font-size: 0.77777em; /* 14px / 18px */
	clear: both;

  tr td:first-child {
    width: 5em;
  }
		
	.times {
  	font-weight: bold;
  	background: $beige;
  	color: #82827d;
	}
	
	td {
  	padding: 1em 0.5em;
  	border: 1px solid #cfcfcf;
  	text-align: center
	}
	
}

/* Announcement */

.announcement {
  margin-bottom: 2em;
}

@media (max-width: 500px)  {
  .film img { display: none;}
  table.holidays tr td:first-child { width: 3em}
}

