footer {
  height: 15em !important;
  text-align: center;
  background: $beige;
  color: #ccc;
  margin-top: 3em;
  font-size: 0.9em;
  a {
    color: #A7B6C1;
  }
}

.footer-inner { 
  vertical-align: middle;
  display: table-cell;
}
