body {
  font-family: $sans-serif;
  background: $light-grey;
  color: $text-grey;
}

a {
  transition: all 0.3s;
}

/* Old IE Fixes */

article, aside, figure, footer, header, hgroup, nav, section {
    display: block;
}
