* { margin: 0; }
html, body { height: 100%; }

.page-wrap {
  min-height: 100%;
  margin-bottom: -150px;
  &:after {
    content: '';
    display: block;
  }
}

footer, .page-wrap:after {
  height: 150px;
  line-height: 150px;
}

main {
  padding-bottom: 3em;
}



.content {
  max-width: 900px;
  margin: 0 auto;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	content: "";
	clear: both;
	height: 0;
}

.gr50 { width: 50%; }
.gr70 { width: 70%; }
.gr80 { width: 80%; }
.gr20 { width: 20%; }
.gr30 { width: 30%; }
.gr100 { width: 100%; clear: both; }

.left { float: left; }
.right {float: right; }
