body {
  font: 18px 'Verlag A', 'Verlag B', 'Avenir Next', 'Helvetica', 'Arial', sans-serif;
  color: #393939;
  background: #fefefe;
}

.content {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.margin {
  margin-top: 2em
}

.clear {
  clear: both;
}

a {
  color: #1E3E57;
  text-decoration: none;
  &:hover {
    color: #757C82;
  }
}

.nav {
  border-top: 7px solid #ECD76F;
  font-family: 'Tungsten A', 'Tungsten B', 'Tungsten', sans-serif;
  font-size: 1.8em;
  text-transform: uppercase;
  text-align: center;
  background: #f4f4f4;
  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    a {
      color: #4d4d4d;
      text-decoration: none;

      &:hover li {
        color: #1E3E57;
        background: #ECD76F;
      }

      &.current li{
        color: #1E3E57;
        background: #ECD76F;
      }
    }

    li {
      display: inline-block;
      padding: 0.3em 0.5em;
      margin-right: 1em;
    }

    .last li{
      margin-right: 0;
    }
  }
}

header {
  background: #1E3E57 image-url('header-bg.png');
  text-align: center;
  padding: 3em;
  img {
    width: 100%;
    height: auto;
    max-width: 631px;
  }
}

.logo {
  height: 45px;
  width: 45px;
  line-height: 45px;
  margin-right: -45px;
  margin-top: 6px;
  float: left;
  border-radius: 100%;
  background: #1e3e57;
  color: #eee;
}

.info {
  background: #1D3344;
  text-align: center;
  color: #9BC9AB;
  font-weight: bold;
  border-bottom: 8px solid #13212B;

  .content {
    text-align: justify;
  }

  .info_panel {
    display: inline-block;
    text-align: center;
    width: 125px;
    vertical-align: top;
    img {
      display: block;
      margin: 1em auto;
    }
  }
  .stretch {
    display: inline-block;
    width: 100%;
  }
}

hr {
  height: 1px;
  background: #eee;
  border: none;
}

h1, h2, h3 {
  font-family: 'Tungsten A', 'Tungsten B', 'Avenir Next', 'Helvetica', sans-serif;
}

h2 {
  background: #EDEBE4;
  font-weight: normal;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 1.5em;
  padding: 0.5em 0;
  font-size: 1.77777em; /* 32px / 18px */
}

h3 {
  font-weight: normal;
  font-size: 1.8em;
  margin: 0;
  text-transform: uppercase;
}

h5 {
  margin: 0 0 0.8em 0;
  padding-bottom: 0.8em;
  border-bottom: 1px solid #efefef;
}

footer {
  text-align: center;
  height: 10em;
  line-height: 10em;
  background: #f7f7f4;
  color: #ccc;
  margin-top: 3em;
  font-size: 0.9em;
  a {
    color: #A7B6C1;
  }
}

@mixin image-2x($image, $width, $height) {
  @media (min--moz-device-pixel-ratio: 1.3),
         (-o-min-device-pixel-ratio: 2.6/2),
         (-webkit-min-device-pixel-ratio: 1.3),
         (min-device-pixel-ratio: 1.3),
         (min-resolution: 1.3dppx) {
    background-image: image-url($image);
    background-size: $width $height;
  }
}
