.nav {
  border-top: 7px solid #ECD76F;
  font-family: 'Tungsten A', 'Tungsten B', 'Tungsten', sans-serif;
  font-size: 1.8em;
  text-transform: uppercase;
  text-align: center;
  background: #f4f4f4;
}

.nav_list {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    display: inline-block;
    padding: 0.3em 0.5em;
    margin-right: 1em;
  }

  .last li{
    margin-right: 0;
  }

  a {
    color: #4d4d4d;
    text-decoration: none;

    &:hover li {
      color: #1E3E57;
      background: #ECD76F;
    }

    &.current li{
      color: #1E3E57;
      background: #ECD76F;
    }
  }
}

.nav_toggle {
  padding: 13px 0;
  display: none;
}

@media (max-width: 680px) {
  .nav_toggle { 
    display: block; 
    width: 100%;
    text-align: right;
    
    img:hover {
      opacity: 0.5;
    }
  }

  .nav {
    border-top: none;
  }

  .nav ul {
    display: none;
  }

  .nav ul li {
    clear: both;
    display: block;
    margin: 0;
  }
}
