$light-grey: #FAFBFF;
$mid-grey: #D4D5D9;
$blue: #334164;
$light-blue: #8497B1;
$yellow: #ECE9B2;

$sans-serif: 'Open Sans', Helvetica, Arial, sans-serif;
$slab-serif: 'Geared Slab', Helvetica, Arial, sans-serif;
