$light-grey: #FAFCFF;
$mid-grey: #D4D5D9;
$blue: #334463;
$light-blue: #93A4C4;
$yellow: #ECE9B2;
$green: #81C98C;

$sans-serif: 'Open Sans', Helvetica, Arial, sans-serif;
$slab-serif: 'geared-slab', Helvetica, Arial, sans-serif;
