$light-grey: #FCFDFF;
$mid-grey: #EDF2FC;
$dark-grey: #D3DAE8;

$text-grey: #565656;

$blue: #334463;
$light-blue: #93A4C4;
$yellow: #ECE9B2;
$green: #81C98C;
$red: #D64242;

$sans-serif: 'Open Sans', Helvetica, Arial, sans-serif;
$slab-serif: 'geared-slab', Helvetica, Arial, sans-serif;
$mono: 'Inconsolata';
