@import 'colours';

.film {
  p {
    font-size: 0.9em;
    margin-top: 0;
    margin-bottom: 0.5em;
  }
  margin-bottom: 2em;
}

.extra {
  font-style: italic;
  color: #999;
}

/* Three movies in one week! */

.film:first-child:nth-last-child(3),
.film:first-child:nth-last-child(3) ~ .film {
  width: 33.3333%;
  float: left;
}

/* Holidays */

table.holidays {
  table-layout: fixed;
  width:100%;
	margin: 0 auto;
	font-size: 0.77777em; /* 14px / 18px */
	clear: both;

  tr td:first-child {
    width: 5em;
  }
		
	.times {
  	font-weight: bold;
  	background: $beige;
  	color: #82827d;
	}
	
	td {
  	padding: 1em 0.5em;
  	border: 1px solid #cfcfcf;
  	text-align: center
	}
	
}

@media (max-width: 500px)  {
  .film img { display: none;}
  table.holidays tr td:first-child { width: 3em}
}
