%ul{class: 'nav-list'}
  %li #{link_to('New Programme', new_week_path)}
  %li #{link_to('New Newsletter', new_newsletter_path)}
  %li #{link_to('Back to Main Site', root_path)}
  %li #{link_to('Log Out', logout_path)}
