<div class="nav small clearfix">
  <div class="content">
    <%= link_to retina_image_tag('mobile_header.png'), admin_path, class: 'logo' %>
    <ul class="nav-list admin-nav">

      <%= content_tag :li, link_to("New week", new_week_path) %>
      <%= content_tag :li, link_to("Back to main site", root_path) %>
      <%= content_tag :li, link_to("Logout", logout_path) %>
    </ul>
  </div>
</div>


