%header.site-header.small.clearfix
  .content
    = render 'layouts/nav'
    .logo-small
      = link_to header_link_path do
        = image_tag 'logo-40x34.svg', width: '40', height: '34', class: 'logo'
        %h1 Lake Cinema
