%header.site-header.clearfix
  .content
    = render 'layouts/nav'

    .big-header
      %h1 Lake Cinema
      %p.subtitle The independent cinema in Boolaroo, New South Wales
      
      .details
        %li
          %p.small Phone
          %p.big (02) 4958 5810
        %li
          %p.small Address
          %p.big 62 Main Road,<br />Boolaroo
        %li
          %p.small Cost
          %p.big $8 Tickets
