<header class="small clearfix">
  <div class="content">
    <div class="logo">
      <%= image_tag 'logo-40x34.svg', width: '40' %>
      <h1>Lake Cinema</h1>
    </div>
  
    <%= render 'layouts/nav' %>
  </div>
  
</header>
