<header class="clearfix">
  <div class="content">
    <div class="nav clearfix">
      <div class="logo">
        <%= image_tag 'logo-50x42.svg', width: '50' %>
      </div>
  
      <%= render 'layouts/nav' %>
    </div>
    
    <div class="big-header">
      <h1>Lake Cinema</h1>
      <p class="subtitle">The independent cinema in Boolaroo, New South Wales</p>
      
      <ul class="details">
        <li>
          <p class="small">Phone</p>
          <p class="big">(02) 4958 5810</p>
        </li>
        <li>
          <p class="small">Address</p>
          <p class="big">62 Main Road,<br />Boolaroo</p>
        </li>
        <li>
          <p class="small">Cost</p>
          <p class="big">$7 Tickets</p>
        </li>
      </ul>
    </div>
      
  </div>
</header>
