<div class="nav">
  <ul>
    <%= nav_link 'Session Times', root_path %>
    <%= nav_link 'About', about_path %>
    <%= nav_link 'Contact', contact_path %>
    <%= nav_link 'Newsletter', subscribe_path %>
  </ul>
<h1>Lake Cinema</h1>

