#ajax-modal.modal.fade
  .modal-dialog
    .modal-content.clearfix
      %button.close{'data-dismiss' => 'modal', 'aria-label' => 'close'} #{fa_icon 'times'}
      .modal-body
        .modal-body-content

